/*questo è un commento*/

*{

    color: black;
    
    
}


body {


    height: 1200px;
}

.container_image {

    /* immagine presa da url */
    background-image: url("https://images.unsplash.com/photo-1597733336794-12d05021d510?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXJsfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
    /* immagine presa da locale*/
    background-image: url("img/foto.avif");
    background-size: cover; /* l immagine copre tutto lo schermo(container) */
    background-repeat: no-repeat; /* evita l ripetizione */
    background-position: center; /* centra l immagine */
    height: 300px;
    width: 350px;


}


.container_image img {

    height: 300px;
    width: 350px;
}

.miocolore {

    color: blue;  
}



.pesantezza_font_200{

    font-weight: 200;
}



.miocoloreRosso {

    color: red;
}


#viola {

    color: violet;
}


/*colore con esadecimale*/
h1 {

    color: #FBD38D;
}

/*colore parlante*/
h2 {

    color: coral;
}

/*colore rgb*/
h3 {

    color: rgb(142, 80, 58);
}


